<!--Footer-->
<div class="footer container-fluid pt-3">
  <div class="row justify-content-around">
    <div class="col-12 col-md-4">
      <div class="main__logo">
        <img src="./assets/logoipca2ai.png" alt="logotipo" height="48">
      </div>
    </div>
    <div class="col-12 col-md-3">
      <a href="#" class="px-3">Contact</a>
      <a href="#" class="px-3">Privacy</a>
    </div>
  </div>
  <div class="row justify-content-center pt-3">
    <p class="text-center">Copyright © 2021 IPCA</p>
  </div>
</div>
<!--Footer end -->
